/**
  * @param {Object} kelda - A Kelda module as returned by require('kelda').
  * @returns {kelda.Infrastructure} A Kelda infrastructure.
  */
function infraGetter(kelda) {
  const vmTemplate = new kelda.Machine({
    provider: '{{provider}}',
  {{#if region}}
    region: '{{region}}',
  {{/if}}
  {{#if size}}
    size: '{{size}}',
  {{else}}
    ram: {{ram}},
    cpu: {{cpu}},
  {{/if}}
  {{#if preemptible}}
    preemptible: {{preemptible}},
  {{/if}}
  });

  return new kelda.Infrastructure({
    masters: vmTemplate.replicate({{masterCount}}),
    workers: vmTemplate.replicate({{workerCount}}),
  });
}

module.exports = infraGetter;
